<h2 mat-dialog-title>{{description}}</h2>

<form [formGroup] = "selectFormCity">
    <p>
        Value: {{ selectFormCity.value | json}}
        {{selectFormCity.get('type')}}
        <!-- {{selectFormCity.get('scriptField').value.resultValue | json}} -->
    </p>
    <label>City: </label>
    <select id = "type" [formControl] = "selectFormCity.get('type')">
        <option *ngFor="let eachType of selectFormCity.get('scriptField').value.resultValue" [value]="eachType.value">
            {{eachType.viewValue}}
        </option>
    </select>
</form>


<form [formGroup] = "selectFormDistrict">
    <p>
        Value: {{ selectFormDistrict.value | json}}
    </p>
    <p>
        <!-- {{ selectFormCity.value | json}} -->
        Form Control Name Field: {{selectFormDistrict.get('FormControlNameField').get('type').value | json}}
    </p>
    <label>District: </label>
    <select id = "type" [formControl] = "selectFormDistrict.get('type')">
        <ng-container *ngIf="checkDistrict(selectFormDistrict.get('FormControlNameField').get('type').value)">   
            <option *ngFor="let eachType of _district; index as i" [value]=eachType>
                {{eachType}}
            </option>
        </ng-container> 
        <!-- <option *ngFor="let eachType of selectFormDistrict.get('scriptField').value.resultValue" [value]="eachType.value">
            {{eachType.viewValue}}
        </option> -->
    </select>
</form>


<form [formGroup] = "selectFormBlock">
    <p>
        Value: {{ selectFormBlock.value | json}}
    </p>
    <label>Block: </label>
    <select id = "type" [formControl] = "selectFormBlock.get('type')">
        <option *ngFor="let eachType of selectFormBlock.get('scriptField').value.resultValue" [value]="eachType.value">
            {{eachType.viewValue}}
        </option>
    </select>
</form>
